In [1]:
import pandas as pd
#This imports pandas for the whole project

In [2]:
df = pd.read_excel("sample_test.xlsx")
df

           Product  Profit per unit  Units Sold
0   Chocolate Chip             1.00       10054
1    Peanut Butter             0.75        9856
2        Macadamia             0.85        8239
3  White Chocolate             1.05        2390
4     Sugar Cookie             0.95       11546
5      Gingerbread             1.30        1012

In [3]:
#Im going to try and experiment with the headers function to see what it actually does
#headerzero = pd.read_csv("sample_test.xlsx", header = 0)
#headerzero
#okay so i cant read an xlsx file as a csv, moving on

In [4]:
#experimenting with the columns function
df.columns
#Source: Bill's Github

Index(['Product', 'Profit per unit', 'Units Sold'], dtype='object')

In [5]:
#I'm going to try and rename one of the columns to something else
#df["Product"] = df["Cookies"] this didnt work
df = df.rename(columns={'Product': 'Cookies'}) #AHA it worked
df

           Cookies  Profit per unit  Units Sold
0   Chocolate Chip             1.00       10054
1    Peanut Butter             0.75        9856
2        Macadamia             0.85        8239
3  White Chocolate             1.05        2390
4     Sugar Cookie             0.95       11546
5      Gingerbread             1.30        1012

In [6]:
df.dtypes #View the data type of each column
#Source: Bill's GitHub

Cookies             object
Profit per unit    float64
Units Sold           int64
dtype: object

In [7]:
#adding a new row using the append function
#You have to make a new dataframe, and then stitch it into the larger one
newframe = {'Cookies': 'Chocolate Chunk', 'Profit per unit': 1.00, 'Units Sold':12342} #
df = df.append(newframe, ignore_index=True)
df
#oh my god it worked
#Source: https://www.geeksforgeeks.org/how-to-add-one-row-in-an-existing-pandas-dataframe/

           Cookies  Profit per unit  Units Sold
0   Chocolate Chip             1.00       10054
1    Peanut Butter             0.75        9856
2        Macadamia             0.85        8239
3  White Chocolate             1.05        2390
4     Sugar Cookie             0.95       11546
5      Gingerbread             1.30        1012
6  Chocolate Chunk             1.00       12342

In [8]:
#Adding a new row by inserting a new row as a list instead of adding it as a data frame
df.loc[len(df.index)] = ['Birthday',0.89,8745]
df

#I absolutely most definitely prefer this method
#Still a bit confused about what exactly the .loc function does though
#Oh god every time i run it, the most recent line gets duplicated
#I've just now realized that the [square] brackets are for lists, and the {Squiggly} ones are for dataframes
#Lists can go inside dataframes, and i think dataframes can go into lists, but then the list of dataframes cant be displayed in another dataframe.... if that makes sense 
#Source: https://www.geeksforgeeks.org/how-to-add-one-row-in-an-existing-pandas-dataframe/

           Cookies  Profit per unit  Units Sold
0   Chocolate Chip             1.00       10054
1    Peanut Butter             0.75        9856
2        Macadamia             0.85        8239
3  White Chocolate             1.05        2390
4     Sugar Cookie             0.95       11546
5      Gingerbread             1.30        1012
6  Chocolate Chunk             1.00       12342
7         Birthday             0.89        8745

In [9]:
#Time to figure out what the .loc function does

df.loc[3]
#Okay so it scans and prints out the row you put in, in this case the 3rd item is White Chocolate
#The official documentation says that it scans for 'labels'
#Im assuming that if i wanted to have it scan for the cookie name, i would have to somehow assign the 'Cookies' column to be the label
#similar to the 'header' function 
#Source: https://www.geeksforgeeks.org/how-to-add-one-row-in-an-existing-pandas-dataframe/

Cookies            White Chocolate
Profit per unit               1.05
Units Sold                    2390
Name: 3, dtype: object

In [10]:
#What does the index function do?
df.index
#Strange

Int64Index([0, 1, 2, 3, 4, 5, 6, 7], dtype='int64')

In [11]:
#so this function basically just finds the first empty row so that you can add a new row to it
display(len(df.index))
df

8

           Cookies  Profit per unit  Units Sold
0   Chocolate Chip             1.00       10054
1    Peanut Butter             0.75        9856
2        Macadamia             0.85        8239
3  White Chocolate             1.05        2390
4     Sugar Cookie             0.95       11546
5      Gingerbread             1.30        1012
6  Chocolate Chunk             1.00       12342
7         Birthday             0.89        8745

df.loc[len(df.index)] essentially translates to 

FindThisLine[Last Line] = [New List]

I am curious to know if this works if the first row in the list was labeled '1' instead of 0,
and what exactly could cause the first row in the list to be labeled 1 instead of 0?

If I subtract 1 from the Len() function does it just replace that specific line?


Source https://www.geeksforgeeks.org/how-to-add-one-row-in-an-existing-pandas-dataframe   

Source https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_excel.html

In [12]:
#If I subtract 1 from the Len() function does it just replace that specific line?
df.loc[len(df.index) -1] = ["Sprinkles", 1.03, 12737]
df

#it totally does
#The birthday cookie has been replaced with sprinkles

           Cookies  Profit per unit  Units Sold
0   Chocolate Chip             1.00       10054
1    Peanut Butter             0.75        9856
2        Macadamia             0.85        8239
3  White Chocolate             1.05        2390
4     Sugar Cookie             0.95       11546
5      Gingerbread             1.30        1012
6  Chocolate Chunk             1.00       12342
7        Sprinkles             1.03       12737

Now I'd like to figure out how to search for a specific row/column and edit it that way

although... doing it inside python doesn't seem very easy, and i guess that makes sense, since youre supposed to just use excel for editing cells. There's no real point in editing a single cell at a time in the code considering the code is supposed to be used for editing entire chunks of data at a time

In [13]:
#Trying to edit an individual cell at a time
#df.loc["Chocolate Chip"]
#I am abandoning this mission

In [14]:
#Dislaying a specifc column
display(df['Cookies'])

0     Chocolate Chip
1      Peanut Butter
2          Macadamia
3    White Chocolate
4       Sugar Cookie
5        Gingerbread
6    Chocolate Chunk
7          Sprinkles
Name: Cookies, dtype: object