Reading excel file and making it a DataFrame

In [5]:
import pandas as pd
df = pd.read_excel("sample_test.xlsx", header = 0)
df

           Product  Profit per unit  Units Sold
0   Chocolate Chip             1.00       10054
1    Peanut Butter             0.75        9856
2        Macadamia             0.85        8239
3  White Chocolate             1.05        2390
4     Sugar Cookie             0.95       11546
5      Gingerbread             1.30        1012

Calculating a new column and adding it to the DataFrame

In [6]:
df = pd.read_excel("sample_test.xlsx", header = 0)
df["income from product"] = (df["Profit per unit"] * df["Units Sold"])
df

           Product  Profit per unit  Units Sold  income from product
0   Chocolate Chip             1.00       10054             10054.00
1    Peanut Butter             0.75        9856              7392.00
2        Macadamia             0.85        8239              7003.15
3  White Chocolate             1.05        2390              2509.50
4     Sugar Cookie             0.95       11546             10968.70
5      Gingerbread             1.30        1012              1315.60

Writing it to an excel spreadsheet

In [7]:
df.to_excel("output.xlsx",sheet_name="New column added")
df

           Product  Profit per unit  Units Sold  income from product
0   Chocolate Chip             1.00       10054             10054.00
1    Peanut Butter             0.75        9856              7392.00
2        Macadamia             0.85        8239              7003.15
3  White Chocolate             1.05        2390              2509.50
4     Sugar Cookie             0.95       11546             10968.70
5      Gingerbread             1.30        1012              1315.60

Writing the new dataframe to a CSV file

In [8]:
df.to_csv("output.csv")